{% extends 'security/admin.html.twig' %}
{% block adminContent %}
<div class="col-md-9 text-left" id="form_add_product">
    {{ form(form) }}
    <div>
        <a href="{{ path('adminProduct') }}" class="btn btn-info">Retour</a>
    </div>
    <div class="text-right">
        <a href="{{ product.id }}" class="btn btn-danger" data-toggle="modal" data-target="#productEditModal-{{ product.id }}">Supprimer</a>
    </div>
    {#<div class="modal hide fade" id="confirmModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirmation de la suppression</h3>
        </div>
        <div class="modal-body">
            <p>Etes-vous sûr de vouloir supprimer cet élément ?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" id="confirmModalNo">Non</a>
            <a href="#" class="btn btn-primary" id="confirmModalYes">Oui</a>
        </div>
    </div>#}
    {#MODAL#}
    <div class="modal" id="productEditModal-{{ product.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vous êtes sur le point de supprimé l'article suivant : </p>
                    <h3>{{ product.title }}</h3>
                    <img src="{{ asset('img/caps/' ~ product.image) }}" style="height: 60px;width: auto;" alt="{{ product.title }}">
                </div>
                <div class="modal-footer">
                    <a href="{{ path('adminProductDelete', {'id': product.id }) }}" class="btn btn-primary btn_confirm_product_delete">Confirmer</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}