{% extends 'base.html.twig' %}
{% block body %}
    <h1>Votre Panier</h1>
    <main role="main" class="col-md-8 offset-2">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Total HT</th>
                </tr>
            </thead>
            <tbody>
            {% if app.session.get('panier') is not empty %}
                {% for product in app.session.get('panier') %}
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>1</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
        <a href="{{ path('products') }}" class="btn btn-info">Retour</a>
        <a href="{{ path('clearPanier') }}" class="btn btn-danger">Vider le panier</a>

    </main>
    
{% endblock %}