{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron rounded-0" id="home_jumb">
            <div id="text_jumb" class="offset-md-2 col-md-4">
                <h1 class="display-4">Bienvenue sur headict !</h1>
                <p class="lead">La référence des ventes en ligne pour tes casquettes .</p>
                <p class="lead">
                    <a class="btn btn-dark btn-lg" href="{{ path('about') }}" role="button">En savoir plus</a>
                </p>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <img src="{{ asset('img/banniere_index.png') }}" class="img-fluid" alt="banniere index" id="banniere_index">
        </div>
        <div class="row" id="box_caps_index">
            <div class="col-md-6">
                <a href="#"><img src="{{ asset('img/40075.jpg') }}" class="img-fluid" alt="Image homme casquette"></a>
            </div>
            <div class="col-md-6">
                <a href="#"><img src="{{ asset('img/40075.jpg') }}" class="img-fluid" alt="Image homme casquette"></a>
            </div>
        </div>
        <div class="row">
            <div id="index_banniere_caps">
                <a href="#"><img src="{{ asset('img/index_banniere_caps.jpg') }}" class="img-fluid" alt="Plusieurs casquettes"></a>
            </div>
        </div>
    </div>
    
{% endblock %}
